#browse .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 16px;
  align-items: center;

  margin: 0 0 24px;
}

#browse .filters .advanced-group {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
  row-gap: 8px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #browse .filters .advanced-group {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
}
