#browse .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 16px;
  align-items: center;

  margin: 0 0 24px;
}

#browse .filters .advanced-group {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
  row-gap: 8px;
}

#browse .filters .advanced-group .advanced-filters {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 4px;
}

#browse .filters .advanced-group .advanced-filters .filter-container {
  position: relative;
}

#browse .filters .advanced-group .advanced-filters .filter-container .filter {
  padding: 8px 16px;
  font-size: var(--body-s-font-size);
  border-radius: 16px;
  background-color: var(--blue-gray-light);

  display: flex;
  flex-flow: row nowrap;
  column-gap: 4px;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .filter-container
  .popup-container.active {
  opacity: 1;
  pointer-events: all;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .filter-container
  .filter.active {
  background-color: var(--blue-light);
  font-weight: bold;
  color: var(--gdn-blue);
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .filter-container
  .filter
  svg {
  width: 20px;
  height: 20px;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .sort-filter-container
  .popup {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 16px;
  row-gap: 8px;
  align-items: center;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .sort-filter-container
  .popup
  p {
  padding: 4px 8px;
  min-width: max-content;
  border-radius: 16px;
  width: 100%;

  text-align: center;
  font-size: var(--body-s-font-size);
  cursor: pointer;

  transition: 0.3s;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .sort-filter-container
  .popup
  p:hover {
  background-color: var(--blue-alt-2);
  color: white;
}

#browse
  .filters
  .advanced-group
  .advanced-filters
  .sort-filter-container
  .popup
  p.active {
  background-color: var(--gdn-blue);
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #browse .filters .advanced-group {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
}
