#browse {
  /* padding-top: 56px; */
  padding-bottom: 56px;
}

#browse .subheader {
  font-size: var(--subheader-font-size);
  letter-spacing: var(--subheader-letter-spacing);
  color: var(--gdn-blue);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 4px;
}

#browse h2 {
  margin: 0 0 4px;
}

#browse hr {
  margin: 0 0 16px;
}

@media screen and (max-width: 1200px) {
  #browse {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 992px) {
  #browse {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  #browse {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 576px) {
  #browse {
    padding-bottom: 32px;
  }
}
