#issue.fullscreen .title-bar {
  position: fixed;
  top: 0;

  background-color: transparent;

  padding: 0;
  /* height: 80px; */
  height: 64px;

  color: var(--gray-2);
}

#issue.fullscreen .title-bar .top {
  display: none;
}

#issue.fullscreen .title-bar .bottom {
  display: block;
  background-color: transparent;

  --icon-color: var(--gray-2);
  /* --active-bg-color: #ffffff1a; */
  --active-bg-color: #353535;
}

#issue.fullscreen .general-container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* left */
#issue.fullscreen .title-bar .controls-left {
  background-color: #262626;
  border-radius: 16px;
  padding: 2px 8px;
  padding: 8px 16px;

  position: relative;
}

/* back */
#issue.fullscreen .title-bar .back-group {
  display: none;
}

/* issue title */
#issue.fullscreen .title-bar .top .issue-title {
  display: none;
}

/* right */
#issue.fullscreen .title-bar .controls-right {
  margin-left: unset;

  background-color: #262626;
  border-radius: 16px;
  padding: 8px 16px;
}

/* reader */
#issue.fullscreen .title-bar .reader-group .reader.active {
  background-color: var(--active-bg-color);
}

#issue.fullscreen .title-bar .reader svg {
  stroke: var(--active-bg-color);
}

/* zoom */
#issue.fullscreen .title-bar .zoom-container {
  background-color: var(--gray-2);
}

#issue.fullscreen .title-bar .zoom-container .zoom-fill {
  background-color: var(--blue-gray-dark);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  #issue.fullscreen .title-bar .controls-left {
    position: static;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
