#issue .title-bar {
  position: sticky;
  top: var(--header-height);
  width: 100%;
  z-index: 10;

  overflow-x: auto;
  overflow: visible;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

#issue .title-bar::-webkit-scrollbar {
  display: none;
}

#issue .title-bar .top {
  background-color: var(--gdn-blue);
  padding: 12px 0;
  color: white;
}

#issue .title-bar .top .general-container {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  column-gap: 24px;

  position: relative;
}

#issue .title-bar .bottom {
  display: none;
  background-color: var(--blue-gray-light);
  padding: 6px 0;
  color: var(--blue-dark);
}

#issue .title-bar .bottom .general-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 4px;
}

#issue .title-bar .icon {
  cursor: pointer;
}

#issue .title-bar .icon > svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* left */
#issue .title-bar .controls-left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 32px;
  width: fit-content;
}

#issue .title-bar .back-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;

  text-decoration: none;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

#issue .title-bar .bottom .back-group {
  display: none;
}

/* back group */
#issue .title-bar .back-group svg {
  height: 24px;
  width: auto;
}

#issue .title-bar .back-group .chevron {
  background-color: white;

  width: 20px;
  height: 20px;
}

/* controls group */
#issue .title-bar .controls-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;

  height: 32px;
  align-items: flex-start;
  overflow-y: visible;
}

/* list */
#issue .title-bar .list-container {
  position: relative;
}

#issue .title-bar .list {
  width: 32px;
  height: 32px;
  padding: 6px;

  border-radius: 4px;
  transition: 0.3s;
}

#issue .title-bar .list.active {
  background-color: #ffffff1a;
}

/* right */
#issue .title-bar .controls-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 24px;
  justify-content: flex-end;
  width: fit-content;
  /* margin-left: auto; */
  justify-self: flex-end;
}

/* reader */
#issue .title-bar .reader-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
}

#issue .title-bar .reader-group .reader {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

#issue .title-bar .reader-group .reader.active {
  background-color: #ffffff1a;
}

#issue .title-bar .reader-group .reader svg:last-child {
  display: none;
}

#issue .title-bar .bottom .reader-group .reader svg:first-child {
  display: none;
}

#issue .title-bar .bottom .reader-group .reader svg:last-child {
  display: block;
}

/* zoom */
#issue .title-bar .zoom-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
}

#issue .title-bar .zoom {
  width: 20px;
  height: 20px;
}

#issue .title-bar .zoom-container {
  width: 100px;
  height: 8px;
  background-color: white;
  border-radius: 8px;

  position: relative;
}

#issue .title-bar .zoom-fill {
  height: 100%;
  background-color: var(--blue-alt-1);
  border-radius: 8px;
  transition: 0.3s;
}

#issue .title-bar .zoom-circle {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--gray-5);
  border: 1px solid var(--gray-4);
  border-radius: 16px;

  cursor: pointer;
  transition: 0.3s;
}

/* full screen */
#issue .title-bar .fullscreen {
  padding: 8px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  #issue .title-bar .bottom {
    display: block;
  }

  #issue .title-bar .back-group p {
    display: none;
  }

  #issue .title-bar .top .controls-group {
    display: none;
  }

  #issue .title-bar .top .controls-right {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  #issue .title-bar .top {
    height: 48px;
  }
}
