/* popup */
#issue.fullscreen .title-bar .list-container {
  position: static;
}

#issue.fullscreen .title-bar .list-container .popup {
  background-color: #353535;

  color: var(--gray-3);

  top: calc(100% + 8px + 8px);
  left: var(--general-container-padding-x);
}

#issue.fullscreen .title-bar .list-container .popup .heading {
  color: var(--blue-alt-1);
}

#issue.fullscreen .title-bar .list-container .popup .section-row {
  border-bottom-color: var(--gray-2);
}

#issue.fullscreen .title-bar .list-container .popup .section-row .chevron {
  color: var(--gray-2);
}

#issue.fullscreen
  .title-bar
  .list-container
  .popup
  .section-content.active:not(:last-child) {
  border-bottom-color: var(--gray-2);
}
