#issue.fullscreen .title-bar .search-container .popup {
  background-color: var(--active-bg-color);
}

#issue.fullscreen .title-bar .search-container.active {
  width: 360px;
}

#issue.fullscreen .title-bar .search-container .search.active {
  background-color: transparent;
}

#issue.fullscreen .title-bar .bottom .search-container .search-row input {
  color: white;
  caret-color: white;
}

#issue.fullscreen .title-bar .bottom .search-container .search-row .close svg {
  stroke: #353535;
}

#issue.fullscreen .title-bar .search-container .search-results {
  color: var(--gray-3);
}

#issue.fullscreen .title-bar .search-container .search-results .section-row {
  padding: 12px 0;
  border-bottom-color: var(--gray-2);
}

#issue.fullscreen
  .title-bar
  .search-container
  .search-results
  .section-content:not(:last-child) {
  border-bottom-color: var(--gray-2);
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  #issue.fullscreen .title-bar .search-container.active {
    width: 32px;
  }

  #issue.fullscreen .title-bar .search-container .search.active {
    background-color: var(--active-bg-color);
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
