#issue #reader {
  background-color: var(--blue-gray-light);
  height: calc(100vh - var(--header-height) - 56px - 48px - 16px);

  position: relative;
  overflow: clip;
}

#issue #reader .edge {
  width: 100px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  z-index: 5;

  cursor: pointer;
  color: var(--gray-3);
}

#issue #reader .edge.left {
  left: 0;
}

#issue #reader .edge.left:hover {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.67) 250%
  );
}

#issue #reader .edge.right {
  right: 0;
}

#issue #reader .edge.right:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.67) 250%
  );
}

#issue #reader .chevron {
  height: 44px;
  width: auto;
}

/* hack */
#issue #reader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#issue #reader .document-container:not(.dragging) {
  transition: 0.2s;
}

#issue #reader .document {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

#issue #reader .document .page {
  height: 100%;
  width: fit-content;
  display: none;
  cursor: default;
}

#issue #reader .document .page.active {
  display: block;
}

#issue #reader .document .page canvas {
  height: 100% !important;
  width: auto !important;
}

#issue #reader .document .page > div {
  height: 100%;
}
