#issue #reader {
  /* background-color: var(--blue-gray-light); */
  background-color: var(--gray-1);
  height: calc(100vh - var(--header-height));

  position: relative;
  overflow: clip;

  display: flex;
  flex-flow: column nowrap;
}

#issue #reader .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 0;
  flex-grow: 1;

  position: relative;
}

#issue #reader .edge {
  width: 100px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  z-index: 5;

  cursor: pointer;
  color: var(--gray-3);
}

#issue #reader .edge.left {
  left: 0;
}

#issue #reader .edge.left:hover {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.67) 250%
  );
}

#issue #reader .edge.right {
  right: 0;
}

#issue #reader .edge.right:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.67) 250%
  );
}

#issue #reader .edge .chevron {
  height: 44px;
  width: auto;
}

/* hack */
#issue #reader .document-container:not(.dragging) {
  transition: 0.2s;
}

#issue #reader .document {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
}

#issue #reader .document .page {
  height: 100%;
  width: fit-content;
  display: none;
  cursor: default;
}

#issue #reader .document .page.active {
  display: block;
}

#issue #reader .document .page canvas,
#issue #reader .document .page img.cover {
  height: 100% !important;
  width: auto !important;
}

#issue #reader .document .page > div {
  height: 100%;
}

#issue #reader .bg-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;

  background-color: var(--gray-1);
  background-color: #33333380;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: 40px;
}

#issue #reader .loading-modal {
  position: relative;

  padding: 56px;
  background-color: white;
  border-radius: 16px;

  /* box-shadow: 3px 5px 20px 4px rgba(0, 0, 0, 0.48); */
  box-shadow: 3px 2px 20px 6px rgba(0, 0, 0, 0.4);
}

#issue #reader .loading-modal .close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;

  color: var(--gray-3);
  display: block;

  cursor: pointer;
}

#issue #reader .loading-modal .spinner {
  display: block;
  animation: spin 2s ease-in-out 0s infinite forwards;
  margin: 0 auto 32px;

  width: 112px;
  height: 112px;
}

@keyframes spin {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}

#issue #reader .loading-modal .loaded {
  color: var(--gray-1);
  font-size: var(--body-l-font-size);
  font-weight: bold;
  text-align: center;
  margin: 0 0 8px;
}

#issue #reader .loading-modal .text {
  color: var(--gray-2);
  text-align: center;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  #issue .title-bar .top {
    height: 50px;
  }

  #issue .title-bar .bottom {
    min-height: 44px;
  }

  #issue #reader {
    height: calc(100vh - var(--header-height));
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  #issue #reader {
    height: calc(100vh - var(--header-height));
  }

  #issue #reader .edge {
    width: 64px;
  }
}
