<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /testing/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /testing/index.html [L]
</IfModule>