#home #hero {
  background-position: center !important;
  background-size: cover !important;

  padding: 64px 0;

  position: relative;
}

#home #hero .bg-tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(180deg, #1c4480 0%, rgba(0, 0, 0, 0) 175%);
}

#home #hero .general-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 32px;
  justify-content: flex-end;
  z-index: 2;
  position: relative;
}

#home #hero .info {
  flex-grow: 1;

  color: white;
}

#home #hero .info .badge {
  background-color: var(--blue-dark);
  padding: 4px 16px;
  width: fit-content;
  border-radius: 20px;

  font-size: var(--subheader-m-font-size);
  text-transform: uppercase;
  font-weight: bold;

  margin: 0 0 12px;
}

#home #hero .info .title {
  margin: 0 0 8px;
  word-break: break-word;
}

#home #hero .info .date {
  font-size: var(--subheader-font-size);
  text-transform: uppercase;
  font-weight: 500;

  margin: 0 0 24px;
}

#home #hero .info .desc {
  max-width: 650px;
  margin: 0 0 40px;

  font-size: var(--body-m-font-size);
  font-weight: 500;
}

#home #hero .info .read-now {
  display: block;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 12px;

  background-color: var(--gray-5);

  color: var(--blue-dark);
  font-weight: bold;
  font-size: var(--subheader-m-font-size);
  text-decoration: none;

  transition: 0.3s;
}

#home #hero .info .read-now:hover {
  background-color: var(--blue-light);
}

#home #hero .cover {
  height: 60vh;
  max-height: 500px;
}

#home main {
  padding-top: 56px;
  padding-bottom: 80px;
}

#home main .subheader {
  font-weight: bold;
  font-size: var(--subheader-font-size);
  color: var(--gdn-blue);
  text-transform: uppercase;
  letter-spacing: var(--subheader-letter-spacing);

  margin: 0 0 4px;
}

#home main .row {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;

  margin: 0 0 8px;

  text-decoration: none;
}

#home main h3 {
  font-family: Chivo;
  color: black;
}

#home main .row img {
  width: 24px;
  height: 24px;
}

#home main hr {
  margin: 0 0 24px;
}

#home main .card-grid:not(:last-child) {
  margin: 0 0 80px;
}

#home #recently-uploaded {
  align-items: flex-end;
}

#home #recently-uploaded .categ-card {
  text-decoration: none;

  display: flex;
  flex-flow: column nowrap;
}

#home #recently-uploaded .categ-card .row {
  row-gap: 4px;
}

#home #recently-uploaded .categ-card .row h5 {
  color: black;
}

#home #recently-uploaded .categ-card .row img {
  width: 20px;
  height: 20px;
}

#home #recently-uploaded .categ-card .cover-container {
  height: 220px;
  overflow: clip;
}

#home #recently-uploaded .categ-card .cover-container img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  transition: 0.3s;
}

#home #recently-uploaded .categ-card:hover .cover-container img {
  transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
  #home main {
    padding-top: 48px;
    padding-bottom: 68px;
  }

  #home main .card-grid:not(:last-child) {
    margin: 0 0 72px;
  }
}

@media screen and (max-width: 992px) {
  #home main {
    padding-top: 40px;
    padding-bottom: 56px;
  }

  #home main .card-grid:not(:last-child) {
    margin: 0 0 64px;
  }

  #recent .issue-card:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #home #hero .cover {
    height: unset;
    max-height: unset;
    width: 40vw;
    max-width: 250px;
    /* height: 60vh;
    max-height: 500px; */
  }

  #home main {
    padding-top: 36px;
    padding-bottom: 44px;
  }

  #home main .card-grid:not(:last-child) {
    margin: 0 0 56px;
  }

  #recent .issue-card:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #home #hero {
    min-height: 480px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;

    padding: 32px 0;
  }

  #home #hero .bg-tint {
    background: linear-gradient(0deg, #1c4480 0%, rgba(0, 0, 0, 0) 175%);
  }

  #home #hero .general-container {
    flex-flow: column nowrap;
  }

  #home #hero .cover {
    display: none;
  }

  #home #hero .info .badge {
    margin: 0 0 8px;
  }

  #home #hero .info .title {
    margin: 0 0 4px;
  }

  #home #hero .info .date {
    margin: 0 0 16px;
  }

  #home #hero .info .desc {
    margin: 0 0 24px;
    font-size: var(--body-font-size);
  }

  #home #hero .info .read-now {
    font-size: var(--body-font-size);
    padding: 8px 24px;
    border-radius: 8px;
  }

  #home main {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  #home main .card-grid:not(:last-child) {
    margin: 0 0 48px;
  }

  #recent .issue-card:nth-child(4),
  #recent .issue-card:nth-child(5) {
    display: flex;
  }
}
