*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Chivo";
  line-height: 130%;
}

:root {
  --h1-font-size: 56px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;

  --subheader-l-font-size: 24px;
  --subheader-m-font-size: 18px;
  --subheader-font-size: 16px;
  --subheader-s-font-size: 12px;

  --subheader-l-letter-spacing: 1.2px;
  --subheader-m-letter-spacing: 0.9px;
  --subheader-letter-spacing: 0.8px;
  --subheader-s-letter-spacing: 0.6px;

  --body-xxl-font-size: 24px;
  --body-xl-font-size: 22px;
  --body-l-font-size: 20px;
  --body-m-font-size: 18px;
  --body-font-size: 16px;
  --body-s-font-size: 14px;
  --body-xs-font-size: 12px;

  --gdn-blue: #1c4480;

  --blue-dark: #0f265c;
  --blue-alt-1: #72a4d7;
  --blue-alt-2: #3680cc;
  --blue-light: #dbe9f4;

  --gray-1: #333333;
  --gray-2: #6a757c;
  --gray-3: #b6c2cd;
  --gray-4: #d2dde5;
  --gray-5: #e9eef2;

  --blue-gray-dark: #56729c;
  --blue-gray-light: #eff5fa;

  --header-height: 64px;

  --general-container-padding-x: 100px;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: 500;
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 500;
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiempos Headline";
}

#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.general-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 var(--general-container-padding-x);
  margin: 0 auto;
}

.general-padding-top {
  --general-padding-top: 56px;
  padding-top: var(--general-padding-top);
}

.popup-container {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;

  padding-top: 8px;

  pointer-events: none;
  transition: 0.3s;
  opacity: 0;
}

.popup {
  width: max-content;
  padding: 16px;
  background-color: white;
  border-radius: 12px;

  --default-box-shadow: 3px 2px 20px 6px rgba(0, 0, 0, 0.08);

  box-shadow: var(--default-box-shadow);
}

hr {
  border: 1px solid var(--blue-alt-1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 32px;
}

.card-grid.list {
  grid-template-columns: 1fr;
  row-gap: 24px;
}

.nowrap {
  white-space: nowrap;
}

.loading {
  background: linear-gradient(
    to right,
    #a0a0a0 0%,
    #a0a0a0 25%,
    #303030 45%,
    #303030 55%,
    #a0a0a0 75%,
    #a0a0a0 100%
      /* #f7f7f7 0%,
    #f7f7f7 25%,
    #e2e2e2 45%,
    #e2e2e2 55%,
    #f7f7f7 75%,
    #f7f7f7 100% */
  );
  background-size: 400% 100%;

  animation: loading-animation 3s infinite ease;
  transition: 0.1s;

  opacity: 0.15;
}

.loading::before {
  content: "";
}

@keyframes loading-animation {
  from {
    background-position-x: 100%;
  }

  to {
    background-position-x: 0%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --general-container-padding-x: 80px;
  }

  .general-padding-top {
    --general-padding-top: 48px;
  }

  .card-grid {
    column-gap: 18px;
    row-gap: 34px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --general-container-padding-x: 60px;
  }

  .general-padding-top {
    padding-top: 40px;
  }

  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --general-container-padding-x: 40px;
  }

  .general-padding-top {
    --general-padding-top: 36px;
  }

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 38px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h3-font-size: 24px;
    --h4-font-size: 22px;
    --h5-font-size: 20px;
    --h6-font-size: 20px;

    --subheader-l-font-size: 18px;
    --subheader-m-font-size: 16px;
    --subheader-font-size: 14px;
    --subheader-s-font-size: 12px;

    --subheader-l-letter-spacing: 0.9px;
    --subheader-m-letter-spacing: 0.8px;
    --subheader-letter-spacing: 0.7px;
    --subheader-s-letter-spacing: 0.6px;

    --body-xxl-font-size: 24px;
    --body-xl-font-size: 22px;
    --body-l-font-size: 20px;
    --body-m-font-size: 18px;
    --body-font-size: 16px;
    --body-s-font-size: 14px;
    --body-xs-font-size: 12px;

    --general-container-padding-x: 24px;
  }

  .general-padding-top {
    --general-padding-top: 32px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 40px;
  }
}
