*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Chivo";
  line-height: 130%;
}

:root {
  --h1-font-size: 56px;
  --h2-font-size: 48px;
  --h3-font-size: 40px;
  --h4-font-size: 32px;
  --h5-font-size: 24px;
  --h6-font-size: 20px;

  --subheader-l-font-size: 24px;
  --subheader-m-font-size: 18px;
  --subheader-font-size: 16px;
  --subheader-s-font-size: 12px;

  --body-l-font-size: 24px;
  --body-m-font-size: 20px;
  --body-font-size: 16px;
  --body-s-font-size: 14px;
  --body-xs-font-size: 12px;

  --gdn-blue: #1c4480;

  --blue-dark: #0f265c;
  --blue-alt-1: #72a4d7;
  --blue-alt-2: #3680cc;
  --blue-light: #dbe9f4;

  --gray-1: #333333;
  --gray-2: #6a757c;
  --gray-3: #b6c2cd;
  --gray-4: #d2dde5;
  --gray-5: #e9eef2;

  --blue-gray-dark: #56729c;
  --blue-gray-light: #eff5fa;

  --header-height: 64px;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: 500;
}

h5 {
  font-size: var(--h5-font-size);
  font-weight: 500;
}

h6 {
  font-size: var(--h6-font-size);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiempos Headline";
}

#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  padding-top: var(--header-height);
}

.general-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}

.chevron-down {
  -webkit-mask: url("./../icons/chevron-down.svg");
  mask: url("./../icons/chevron-down.svg");
  width: 20px;
  height: 20px;
}

.popup-container {
  position: absolute;
  top: 100%;
  left: 0;

  padding-top: 8px;

  pointer-events: none;
  opacity: 0;
}

.popup {
  width: fit-content;
  padding: 16px;
  background-color: white;
  border-radius: 16px;

  box-shadow: 3px 2px 20px 6px rgba(0, 0, 0, 0.08);
}

hr {
  border: 1px solid var(--blue-alt-1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 16px;
  row-gap: 56px;
}

@media screen and (max-width: 1200px) {
  .general-container {
    padding: 0 80px;
  }
}

@media screen and (max-width: 992px) {
  .general-container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .general-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 576px) {
  .general-container {
    padding: 0 24px;
  }
}
