.search-field {
  background-color: white;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 12px;

  padding: 8px 24px;
  border-radius: 32px;
}

.search-field .search {
  width: 24px;
  height: 24px;
  color: var(--gray-2);
}

.search-field input {
  flex-grow: 1;

  border: none;
  background-color: transparent;

  font-size: var(--body-font-size);
}

.search-field input::placeholder {
  color: var(--gray-2);
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.search-field input.variant-changing::placeholder {
  opacity: 0;
}

.search-field input:focus {
  outline: none;
}

header #mobile-search .search-field {
  display: flex;
  background-color: #ecf4ff;
}
