.filters .views-group {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 8px;
  align-items: center;
}

.filters .views-group .view {
  width: 32px;
  height: 32px;
  cursor: pointer;

  color: var(--gray-3);
  transition: 0.3s;
}

.filters .views-group .view:hover {
  color: var(--blue-alt-1);
}

.filters .views-group .view.active {
  color: var(--gdn-blue);
}
