.home {
  @apply lg:px-[104px] lg:mb-20 max-sm:px-6 max-sm:mb-8;
}

.xxs-txt {
  @apply text-[8px];
}

.heading-txt {
  @apply lg:text-[40px] max-sm:text-[24px] max-sm:border-b-2 max-sm:border-lightblue max-sm:pb-2 font-tiemposheadline font-bold mb-6;
}

.btn-blue-light {
  @apply rounded-[8px] bg-lightgray px-6 py-4 text-darkblue font-bold;
}

.swiper-pagination-bullet {
  background-color: white !important;
  width: 6px !important;
  height: 6px !important;
}
