header {
  height: var(--header-height);
  /* padding: 16px 0; */
  padding: 10px 0;
  background-color: var(--gdn-blue);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

header .general-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;
}

header .logo {
  height: 40px;
  width: auto;
}

header .search-field {
  flex-grow: 1;
}

header .main-nav {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
}

header .main-nav > a,
header .main-nav .releases-link-container > a {
  padding: 8px 24px;
  border-radius: 16px;

  color: var(--blue-light);
  text-decoration: none;
  font-weight: bold;

  transition: 0.3s;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 4px;
}

header .main-nav > a:hover,
header .main-nav .releases-link-container > a:hover,
header .main-nav .releases-link-container .popup-container:hover ~ a {
  background-color: #c7dcf1;
  color: var(--gdn-blue);
}

header .main-nav > a.active:not(:first-of-type),
header .main-nav .releases-link-container > a.active {
  background-color: var(--blue-light);
  color: var(--gdn-blue);
}

header .main-nav .releases-link-container {
  position: relative;
}

header .main-nav .releases-link-container .chevron {
  color: var(--blue-light);
  transition: 0.3s;

  width: 20px;
  height: 20px;
}

header .main-nav .releases-link-container a:hover .chevron,
header .main-nav .releases-link-container a.active .chevron,
header .main-nav .releases-link-container .popup-container:hover ~ a .chevron {
  color: var(--gdn-blue);
  transform: rotate(180deg);
}

/* header .main-nav .releases-link-container .popup-container {
  transition: 0.3s;
} */

header .main-nav .releases-link-container:hover .popup-container {
  opacity: 1;
  pointer-events: all;
}

header .main-nav .releases-link-container .popup {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
  justify-content: stretch;
  align-items: stretch;
}

header .main-nav .releases-link-container .popup a {
  /* color: var(--gray-2); */
  color: black;
  text-decoration: none;

  min-width: max-content;
  padding: 4px 12px;
  border-radius: 16px;

  transition: 0.3s;
}

header .main-nav .releases-link-container .popup a:hover {
  background-color: var(--blue-alt-1);
  color: white;
}

header .main-nav .releases-link-container .popup a.active {
  background-color: var(--gdn-blue);
  color: white;
  font-weight: bold;
}

header .mobile-icon {
  display: none;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

#bg-tint {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;

  background-color: rgba(0, 0, 0, 0.4);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#bg-tint.active {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1200px) {
  header .general-container {
    column-gap: 52px;
  }

  header .main-nav {
    column-gap: 4px;
  }
}

@media screen and (max-width: 992px) {
  header .general-container {
    column-gap: 40px;
  }

  header .mobile-icon {
    display: block;
  }

  header .search-field {
    display: none;
  }

  header .main-nav {
    display: none;
  }

  #bg-tint {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  header .general-container {
    column-gap: 28px;
  }
}

@media screen and (max-width: 576px) {
  header .general-container {
    column-gap: 16px;
  }

  /* header .mobile-icon {
    display: block;
  }

  header .search-field {
    display: none;
  }

  header .main-nav {
    display: none;
  } */
}
