#search-results .filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  column-gap: 8px;
  row-gap: 8px;
  align-items: center;

  margin: 0 0 24px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #search-results .filters {
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (max-width: 576px) {
}
