#search-results {
  padding-bottom: 80px;
}

#search-results .subheader {
  font-size: var(--subheader-font-size);
  letter-spacing: var(--subheader-letter-spacing);
  color: var(--gdn-blue);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 4px;
}

#search-results h2 {
  margin: 0 0 4px;
}

#search-results hr {
  margin: 0 0 24px;
}

#search-results ul {
  font-size: var(--body-l-font-size);
  padding-left: 20px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  #search-results ul {
    font-size: var(--body-font-size);
  }
}
