#search-results {
  padding-top: 56px;
  padding-bottom: 80px;
}

#search-results .subheader {
  font-size: var(--subheader-m-font-size);
  color: var(--gdn-blue);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--subheader-m-letter-spacing);
}

#search-results h2 {
  margin: 0 0 4px;
}

#search-results hr {
  margin: 0 0 24px;
}

#search-results ul {
  font-size: var(--body-m-font-size);
  padding-left: 20px;
}
