.filters .advanced-filters {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 4px;
}

.filters .advanced-filters .filter-container {
  position: relative;
}

.filters .advanced-filters .filter-container .filter {
  padding: 8px 16px;
  font-size: var(--body-s-font-size);
  border-radius: 16px;
  background-color: var(--blue-gray-light);

  display: flex;
  flex-flow: row nowrap;
  column-gap: 4px;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.filters .advanced-filters .filter-container .popup-container.active {
  opacity: 1;
  pointer-events: all;
}

.filters .advanced-filters .filter-container .filter.active {
  background-color: var(--blue-light);
  font-weight: bold;
  color: var(--gdn-blue);
}

.filters .advanced-filters .filter-container .filter .chevron {
  width: 20px;
  height: 20px;

  transform: rotate(0deg);
  transition: 0.3s;
}

.filters
  .advanced-filters
  .filter-container
  .popup-container.active
  ~ .filter
  .chevron {
  transform: rotate(180deg);
}

/* year */
.filters .advanced-filters .year-filter-container .nav {
  margin: 0 0 4px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 8px;
}

.filters .advanced-filters .year-filter-container .nav p {
  text-align: center;
  font-size: var(--body-s-font-size);
  font-weight: bold;
  /* width: max-content; */

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters .nav .chevron {
  width: 20px;
  height: 20px;
  color: var(--gdn-blue);
  flex-shrink: 0;

  cursor: pointer;
  transition: 0.3s;
}

.filters .nav .chevron:hover {
  color: var(--blue-alt-1);
}

.filters .nav .chevron.disabled {
  color: var(--gray-3);
  pointer-events: none !important;
}

.filters .advanced-filters .year-filter-container hr {
  margin: 0 0 16px;
}

.filters .years {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  column-gap: 8px;
  row-gap: 4px;
}

.filters .months {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8px;
  row-gap: 4px;
}

.filters .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4px;
  row-gap: 4px;
  justify-items: stretch;
}

.filters .calendar .day-of-week {
  text-align: center;
  font-size: var(--body-s-font-size);
  font-weight: bold;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0 0 4px;
}

.filters .years .year,
.filters .months .month,
.filters .calendar .day {
  text-align: center;
  font-size: var(--body-s-font-size);

  padding: 4px 8px;
  border-radius: 16px;
  background-color: transparent;

  cursor: pointer;
  transition: 0.3s;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filters .calendar .day {
  padding: 4px;
  /* color: var(--gray-2); */
}

.filters .years .year:hover,
.filters .months .month:hover,
.filters .calendar .day:hover {
  background-color: var(--blue-alt-2);
  color: white;
}

.filters .years .year.active,
.filters .months .month.active,
.filters .calendar .day.active {
  background-color: var(--gdn-blue);
  color: white;
  font-weight: bold;
}

.filters .years .year.disabled,
.filters .months .month.disabled,
.filters .calendar .day.disabled {
  color: var(--gray-3);
  cursor: default;
  pointer-events: none !important;
}

/* sort */
.filters .advanced-filters .sort-filter-container .popup {
  display: flex;
  flex-flow: column nowrap;
  padding: 8px 16px;
  row-gap: 8px;
  align-items: center;
}

.filters .advanced-filters .sort-filter-container .popup p {
  padding: 4px 8px;
  min-width: max-content;
  border-radius: 16px;
  width: 100%;

  text-align: center;
  font-size: var(--body-s-font-size);
  cursor: pointer;

  transition: 0.3s;
}

.filters .advanced-filters .sort-filter-container .popup p:hover {
  background-color: var(--blue-alt-2);
  color: white;
}

.filters .advanced-filters .sort-filter-container .popup p.active {
  background-color: var(--gdn-blue);
  color: white;
  font-weight: bold;
}
