#page-404 {
  padding-top: 72px;
  padding-bottom: 72px;
}

#page-404 .subheader {
  font-size: var(--subheader-m-font-size);
  color: var(--gdn-blue);
  text-transform: uppercase;
  font-weight: bold;
}

#page-404 h2 {
  margin: 0 0 4px;
}

#page-404 hr {
  margin: 0 0 24px;
}

#page-404 ul {
  font-size: var(--body-m-font-size);
  padding-left: 20px;
}
