#issue #issue-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 40px;
  align-items: center;
}

#issue #issue-info {
  padding-top: 56px;
  padding-bottom: 80px;
}

#issue #issue-info .cover-container {
  width: 300px;
  height: 300px;
  background-color: var(--blue-gray-light);
  padding: 24px;
}

#issue #issue-info .cover-container img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

#issue #issue-info .title {
  color: var(--gdn-blue);
  margin: 0 0 4px;
  font-weight: bold;
}

#issue #issue-info .date {
  color: #979797;
  text-transform: uppercase;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  font-weight: bold;

  margin: 0 0 8px;
}

#issue #issue-info .desc {
  /* color: var(--gdn-blue); */
  /* color: black; */
  font-size: var(--body-font-size);

  margin: 0 0 32px;
}

#issue #issue-info .share {
  color: #979797;
  text-transform: uppercase;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  font-weight: bold;

  margin: 0 0 8px;
}

#issue #issue-info .socials {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 16px;
}

#issue #issue-info .socials a {
  display: block;
}

#issue #issue-info .socials svg {
  display: block;
  color: var(--gdn-blue);
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1200px) {
  #issue #issue-info {
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 992px) {
  #issue #issue-info {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  #issue #issue-info {
    padding-top: 32px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 576px) {
  #issue #issue-info {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  #issue #issue-info .cover-container {
    width: 160px;
    height: 200px;
  }

  #issue #issue-info .title {
    margin: 0;
  }

  #issue #issue-info .desc {
    margin: 0 0 24px;
  }
}
