#issue.fullscreen .slider-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #262626;

  color: #818f98;
}

#issue.fullscreen .slider-section .slider {
  background-color: var(--gray-2);
}

#issue.fullscreen .slider-section .slider .slider-fill {
  background-color: var(--blue-gray-dark);
}

#issue.fullscreen .slider-section .slider .slider-circle {
  background-color: var(--gray-3);
  border-color: #666666;
}
