#issue.fullscreen #reader .slider-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #262626;

  color: #818f98;

  transition: 0.3s;
}

#issue.fullscreen #reader .slider-section .slider {
  background-color: var(--gray-2);
}

#issue.fullscreen #reader .slider-section .slider-fill {
  background-color: var(--blue-gray-dark);
}

#issue.fullscreen #reader .slider-section .slider-circle {
  background-color: var(--gray-3);
  border-color: #666666;
}

#issue.fullscreen #reader.hide-controls .slider-section {
  transform: translate(0, 100%);
}
