#issue .slider-section {
  background-color: var(--blue-light);
  padding: 12px 0;
  height: 48px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  color: #666666;
}

#issue .slider-section .general-container {
  padding: 0 64px;

  display: flex;
  flex-flow: row nowrap;
  column-gap: 24px;
  align-items: center;
}

#issue .slider-section .slider {
  flex-grow: 1;
  background-color: white;
  height: 12px;
  border-radius: 12px;

  position: relative;
}

#issue .slider-section .slider .slider-fill {
  background-color: var(--gdn-blue);
  height: 100%;
  border-radius: 12px;
}

#issue .slider-section .slider .slider-circle {
  width: 20px;
  height: 20px;
  background-color: #e9eef2;
  border: 1px solid var(--gray-3);
  border-radius: 20px;

  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

#issue .slider-section .text-controls {
  min-width: 180px;
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  column-gap: 8px;
  align-items: center;
}

#issue .slider-section .text-controls .chevron {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#issue .slider-section .text-controls .page {
  font-size: var(--body-s-font-size);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #issue .slider-section .general-container {
    padding: 0 52px;
  }
}

@media screen and (max-width: 992px) {
  #issue .slider-section .general-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  #issue .slider-section .general-container {
    padding: 0 28px;
  }
}

@media screen and (max-width: 576px) {
  #issue .slider-section {
    padding: 16px 0;
    height: unset;
  }

  #issue .slider-section .general-container {
    flex-flow: column nowrap;
    row-gap: 12px;

    padding: 0 16px;
  }

  #issue .slider-section .slider {
    width: 100%;
  }
}
