.issue-card {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 12px;
  align-items: stretch;
}

.issue-card.list {
  flex-flow: row nowrap;
  column-gap: 24px;
  align-items: center;
}

.issue-card .cover-container {
  /* height: 220px; */
  height: 200px;
  background-color: var(--blue-gray-light);
}

.issue-card.list .cover-container {
  width: 160px;
  height: 160px;
}

.issue-card .title {
  color: var(--gdn-blue);

  margin: 0 0 4px;
}

.issue-card .date {
  color: #979797;
  text-transform: uppercase;

  font-size: var(--subheader-s-font-size);
  font-weight: bold;

  margin: 0 0 4px;
}

.issue-card .blurb {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: var(--body-s-font-size);
}
